/* index.css */

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	/* variables */

	--black: #1B2233;
	--dark-blue: #313E5D;
	--blue: #394970;
	--light-blue: #8AB4F8;
	--white: #E0E0E0;
	--red: #F37D7D;

	/* body style */

	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: var(--dark-blue);
}

/**************************************************
*
*	keyframes
*
**************************************************/

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/**************************************************
*
*	classes
*
**************************************************/

.big {
	font-size: 1.25rem;
}

.thin {
	font-weight: 100;
}

.thick {
	font-weight: 700;
}

.light-blue {
	color: var(--light-blue);
}

.white {
	color: var(--white);
}

.red {
	color: var(--red);
}

.translucent {
	opacity: 0.75;
}

.clickable {
	cursor: pointer;
}

.centered {
	text-align: center;
}

.absolute-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/**************************************************
*
*	global styles
*
**************************************************/

label,
input,
button,
legend,
select {
	font-family: inherit;
}

input,
button,
select {
	background-color: var(--dark-blue);
	border: 1px solid var(--light-blue);
}

input:focus {
	outline: none;
}

button {
	padding: 0.25rem 1.5rem;

	color: var(--white);
	
	transition: background-color 0.1s linear,
				opacity 0.1s linear;
}

button:hover:not(:disabled) {
	cursor: pointer;

	background-color: var(--blue);
	transition: background-color 0.1s linear,
				opacity 0.1s linear;
}

*:disabled {
	cursor: not-allowed;

	opacity: 0.7;
	transition: opacity 0.1s linear;
}

/**************************************************
*
*	home
*
**************************************************/

header.main {
	padding: 1rem;
}

.user-text {
	width: max-content;
	margin-left: auto;
}

.actions {
	display: grid;
	width: max-content;
	margin: 5rem auto;
	grid-template-areas: "enter enter"
						 "login register";

	justify-items: center;
	gap: 5rem 1rem;
}

.actions button {
	font-size: 1.5rem;
	width: 200px;
}

#enter {
	grid-area: enter;
}

#login-popup {
	grid-area: login;
}

#register-popup {
	grid-area: register;
}

/**************************************************
*
*	popups
*
**************************************************/

.popup {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.4);

	animation: fade-in 0.2s linear;
}

.popup-body {
	width: max-content;
	margin: 0 auto;
	padding: 1rem 2rem;
	margin-top: 25vh;

	background-color: var(--dark-blue);
	border: 1px solid var(--light-blue);
}

form.general,
form.login,
form.register {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.75rem;
}

#repeat-password {
	grid-column: 2 / span 1;
}

form.general button,
form.login button,
form.register button {
	margin-top: 1rem;
	grid-column: 1 / span 2;
}

form.general select {
	min-width: 15rem;
}

.status {
	text-align: center;
	font-size: 1.25rem;
	font-weight: 100;
	margin-top: 1rem;
}

fieldset {
	border-color: var(--dark-blue);
	background-image: linear-gradient(to bottom, var(--dark-blue), var(--blue));

	padding: 1rem;
	margin: 1rem 0 1rem 0;
}

legend {
	color: var(--light-blue);
	font-size: 1.125rem;
}

#new-field {
	padding: 0.25rem 0.75rem;
	margin-left: auto;
}

.field {
	display: grid;
	grid-template-columns: max-content max-content;
	gap: 1rem;

	margin-bottom: 1rem;
}

.field-data {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.75rem;
}

fieldset {
	display: flex;
	flex-direction: column;
}

/**************************************************
*
*	simulator
*
**************************************************/

header.sub {
	background-color: var(--dark-blue);
	box-shadow: var(--light-blue) 0px 3px 5px;

	height: 53px;
	padding: 0 0.75rem;

	display: flex;

	align-items: center;
	justify-content: space-between;
}

.header-elements {
	align-self: stretch;
	display: flex;
}

.header-element {
	display: flex;
	align-items: center;
	width: max-content;

	font-size: 1.125rem;
	padding: 0 1.5rem;
}

.header-elements > * {
	border: none;
	border-left: 1px solid var(--light-blue);
}

.header-element:last-child {
	padding-right: 0;
}

.empty-level,
canvas,
.level-controls {
	position: absolute;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.level-controls {
	pointer-events: none;
}

.level-controls > * {

	background: var(--white);
	border-radius: 5px;
	padding: 0.5rem;
	font-weight: 300;

	position: absolute;
	pointer-events: all;
}

.level-controls > img {
	width: 2.25rem;
	height: 2.25rem;
}

#position {
	left: 1rem;
	top: 4.25rem;
}

#new-item {
	right: 1rem;
	top: 4.25rem;
}

#edit-level {
	right: 1rem;
	top: 7.25rem;
}

#play-level,
#stop-level {
	right: 1rem;
	top: 10.25rem;
}
